<?xml version="1.0"?>

<config>
    <modules>
        <SchumacherFM_Demo2>
            <version>1.0.0</version>
        </SchumacherFM_Demo2>
    </modules>

    <global>
        <models>
            <schumacherfm_demo2>
                <class>SchumacherFM_Demo2_Model</class>
                <resourceModel>schumacherfm_demo2_resource</resourceModel>
            </schumacherfm_demo2>
            <schumacherfm_demo2_resource>
                <class>SchumacherFM_Demo2_Model_Resource</class>
            </schumacherfm_demo2_resource>
        </models>

        <resources>
            <schumacherfm_demo2_setup>
                <setup>
                    <module>SchumacherFM_Demo2</module>
                    <class>SchumacherFM_Demo2_Model_Resource_Setup</class>
                </setup>
            </schumacherfm_demo2_setup>
        </resources>
    </global>

    <anonygento>
        <anonymizations>
            <catalogProduct>
                <active>1</active>
                <label>Catalog Product</label>
                <model>catalog/product</model>
                <anonymizationModel>schumacherfm_demo2/catalogProduct</anonymizationModel>
                <mapping>
                    <system>
                        <sku/>
                    </system>
                    <!--Property (rand_name) of my random objects maps to name-->
                    <rand_name>name</rand_name>
                    <fill>
                        <short_description>
                            <model>schumacherfm_anonygento/random_loremIpsum</model>
                            <method>getLoremIpsum</method>
                            <args>
                                <a0>13</a0>
                                <a1>txt</a1>
                            </args>
                        </short_description>
                    </fill>
                </mapping>
            </catalogProduct>
        </anonymizations>
    </anonygento>


</config>