<config>
    <sections>
        <dev>
            <groups>
                <schumacherfm_anonygento translate="label">
                    <label>Anonygento Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <locale translate="label">
                            <label>Locale</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Locale used for all stores. This is the name of the folder.</comment>
                        </locale>
                    </fields>
                </schumacherfm_anonygento>
            </groups>
        </dev>
    </sections>
</config>