<?xml version="1.0"?>
<!--
/**
 * @category    SchumacherFM_Anonygento
 * @package     SchumacherFM_Anonygento
 * @author      Cyrill at Schumacher dot fm
 */
 -->
<config>
    <modules>
        <SchumacherFM_Anonygento>
            <version>0.0.1</version>
        </SchumacherFM_Anonygento>
    </modules>
    <global>
        <models>
            <schumacherfm_anonygento>
                <class>SchumacherFM_Anonygento_Model</class>
            </schumacherfm_anonygento>
        </models>
        <blocks>
            <schumacherfm_anonygento>
                <class>SchumacherFM_Anonygento_Block</class>
            </schumacherfm_anonygento>
        </blocks>
        <helpers>
            <schumacherfm_anonygento>
                <class>SchumacherFM_Anonygento_Helper</class>
            </schumacherfm_anonygento>
        </helpers>

        <resources>
            <schumacherfm_anonygento_setup>
                <setup>
                    <module>SchumacherFM_Anonygento</module>
                    <class>SchumacherFM_Anonygento_Model_Resource_Setup</class>
                </setup>
            </schumacherfm_anonygento_setup>
        </resources>
    </global>

    <default>
        <schumacherfm>
            <anonygento>
                <locale>de_DE</locale>
            </anonygento>
        </schumacherfm>
    </default>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <schumacherfm_anonygento after="Mage_Adminhtml">SchumacherFM_Anonygento_Adminhtml</schumacherfm_anonygento>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <schumacherfm_anonygento>
                    <file>anonygento.xml</file>
                </schumacherfm_anonygento>
            </updates>
        </layout>

        <translate>
            <modules>
                <schumacherfm_anonygento>
                    <files>
                        <default>SchumacherFM_Anonygento.csv</default>
                    </files>
                </schumacherfm_anonygento>
            </modules>
        </translate>
    </adminhtml>

    <!--main config for the order of the work load for the anonymization process-->
    <!--extend also here with your own anonymization process-->
    <anonygento>
        <anonymizations>
            <customer>
                <active>1</active>
                <model>customer/customer</model>
            </customer>
            <customerAddress>
                <active>1</active>
                <model>customer/address</model>
            </customerAddress>
            <newsletterSubscriber>
                <active>1</active>
                <model>newsletter/subscriber</model>
            </newsletterSubscriber>
            <giftmessageMessage>
                <active>1</active>
                <model>giftmessage/message</model>
            </giftmessageMessage>
            <order>
                <active>1</active>
                <model>sales/order</model>
            </order>
            <orderAddress>
                <active>1</active>
                <model>sales/order_address</model>
            </orderAddress>
            <orderGrid>
                <active>1</active>
                <model>sales/order_grid_collection</model>
            </orderGrid>
            <orderPayment>
                <active>1</active>
                <model>sales/order_payment</model>
            </orderPayment>
            <quote>
                <active>1</active>
                <model>sales/quote</model>
            </quote>
            <quoteAddress>
                <active>1</active>
                <model>sales/quote_address</model>
            </quoteAddress>
            <quotePayment>
                <active>1</active>
                <model>sales/quote_payment</model>
            </quotePayment>

            <!--all comments collections are only for FYI-->
            <creditmemo>
                <active>1</active>
                <model>sales/order_creditmemo_collection</model>
            </creditmemo>
            <creditmemoComment>
                <active>1</active>
                <model>sales/order_creditmemo_comment_collection</model>
            </creditmemoComment>

            <invoice>
                <active>1</active>
                <model>sales/order_invoice_collection</model>
            </invoice>
            <invoiceComment>
                <active>1</active>
                <model>sales/order_invoice_comment_collection</model>
            </invoiceComment>

            <shipment>
                <active>1</active>
                <model>sales/order_shipment</model>
            </shipment>
            <shipmentComment>
                <active>1</active>
                <model>sales/order_shipment_comment</model>
            </shipmentComment>

            <review>
                <active>1</active>
                <model>review/review</model>
            </review>
            <ratingOptionVote>
                <active>1</active>
                <model>rating/rating_option_vote</model>
            </ratingOptionVote>
            <sendfriendLog>
                <active>1</active>
                <model>sendfriend/sendfriend</model>
            </sendfriendLog>

        </anonymizations>
    </anonygento>

</config>
