<config>
    <sections>
        <dev>
            <groups>
                <anonygento translate="label">
                    <label>Anonygento Settings [@SchumacherFM module]</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>890</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <locale translate="label">
                            <label>Locale</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                Locale used for all stores. This is the name of the folder.<br>
                                <div style="margin: 5px 0 10px 0; background-color:black; color:white; padding:0.7em;">
                                Do you like the Anonygento module? Consider a donation to <a href="http://www.seashepherd.org/" target="_blank">www.seashepherd.org</a>
                                </div>
                                ]]>
                            </comment>
                        </locale>
                    </fields>
                </anonygento>
            </groups>
        </dev>
    </sections>
</config>